body {
    margin: 0;
    background-image: url(resources/abstract-1264071.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 10px white;
  }
  
  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: left;
  }
  
  .celeste {
    background: #22a6b3;
  }
  
  .celeste.light {
    background: rgb(126,214,223);
  }
  
  .violeta {
    background: #be2edd;
  }
  
  .violeta.light {
    background: #e056fd;
  }
  
  .naranja {
    background: #f0932b;
  }
  
  .naranja.light {
    background: #ffbe76;
  }
  
  .verde {
    background: #6ab04c;
  }
  
  .verde.light {
    background: #badc58;
  }
  
  .btn-start {
    width: 400px;
    height: 250px;
    background: white;
    position: absolute;
    top: calc(40% - 50px);
    left: calc(50% - 200px);
    opacity: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: rgba(0,0,0,.65);
    font-weight: 600;
    font-size: 37px;
    line-height: normal;
    text-align: center;
    background-image: linear-gradient(0deg, #4e6d5496 5%, hsla(0,0%,100%,.9) 70%);
    cursor: pointer;
  
  
  
  }
  
  .hide {
    display: none;
  }
  
  * {
    font-family: Arial;
  }
  
  .animated {
    animation-duration: 3.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1.5s;
  }
  
  .impulse {
    animation-name: pulse;
    animation-duration: 6s;
  }
  